html,
body,
div,
span,
iframe,
input,
select,
map,
font,
img,
a img,
samp,
strong,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
b,
p,
blockquote,
a,
address,
code,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tr,
td,
th {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
		sans-serif;
}
html,
body,
.el-container {
	height: 100%;
}
.el-container {
	.el-main,
	.el-footer {
		padding: 0;
	}
}
.con {
	width: 1200px;
	margin: 0 auto;
}

.uploadBox(avatar, 104px, 104px);
.uploadBox(poster, 139px, 104px);
.share_table{
	height: 40%;
}