.flex(@j: normal, @a: normal) {
    justify-content: @j;
    align-items: @a;
    display: flex;
}
.fontStyle(@s: 14px, @c: #000, @w: normal) {
    font-size: @s;
    color: @c;
    font-weight: @w;
}
.radius(@r, @h, @w, @b) {
    line-height: @h;
    border-radius: @r;
    background: @b;
    display: inline-block;
    text-align: center;
    width: @w;
}

//定义宽高
.box(@width, @height) {
    width: @width;
    height: @height;
}
//定义背景图片
.backgroundImg(@url) {
    background: url(@url) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
//定义flex布局
.flex-option(@flex-direction:row,@justify-content:flex-start,@align-items:flex-start) {
    display: flex;
    flex-direction: @flex-direction;
    justify-content: @justify-content;
    align-items: @align-items;
}
